<!doctype html>
<html lang="en">
	<head>
		<title>Torvalds Number</title>
		<meta name="description" content="Calculate your Torvalds Number here!">
		<!--<link rel="stylesheet" href="/css/core.css">-->
		<!--<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">-->
		<!--<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">-->
		<script>/* Chrome bug 332189 workaround */</script>
	</head>
	<body>
		<p>hello</p>
		<a href="https://github.com/login/oauth/authorize?client_id={{.ClientID}}">
			login with github
		</a>
	</body>
</html>
